@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lumanosimo&family=Open+Sans:ital@1&display=swap');

.header{
  text-align: center;
  padding: 2rem;
  font-family: 'Lumanosimo', cursive;
}

.container{
height: 84vh;
display: flex;
flex-direction: column;
}

.message{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

button{
  font-size: 17px;
margin-left: 4px;
padding: 11px;
background-color: #282c34;
color: white;
border-radius: 20px;
border: 1px solid white;
outline: none;
transition: ease-in-out;
}

button:hover{
  cursor: pointer;
background-color: #32373f;
}

input{
  font-size: 19px;
border-radius: 20px;
background-color: #282c34;
color: white;
padding: 10px;
border: 1px solid white;
outline: none;
}

form{
  margin-top: auto;
  margin-bottom: 2rem;
  margin-left: 38vw;
}

.row{
  background-color: #32373f;
display: flex;
flex-direction: column;
padding: 6px 17px;
border-radius: 8px;
margin: 11px;
min-width: 135px;
max-width: fit-content;
}

.others{
  margin-left: 1px;
}

.own{
  margin-left: auto;
}

.chat-container {
  height: 71vh;
  overflow: auto;
}

.chat-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb/dragger */
.chat-container::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-radius: 6px; /* Round the corners of the thumb */
}

/* Style the scrollbar thumb on hover */
.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
  
}

/* Style the scrollbar track when the scrollbar is being dragged */
.chat-container::-webkit-scrollbar-thumb:active {
  background-color: #343536;
  
}

/* Style the scrollbar track (the background of the scrollbar) */
.chat-container::-webkit-scrollbar-track {
  background-color: #b6b9bd;
  
}

