body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-weight: lighter;
  font-size: 11px;
}



span{
  padding: 5px 15px;
  background-color: orange;
}